@import "nhs_colours";
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,600&subset=latin-ext');


/* change some Bootstrap vars to make fonts / colours etc look more like NHS */

$font-family-base: "Hind Siliguri", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$primary:       $color_nhsuk-blue !default;
$secondary:     $color_nhsuk-grey-3 !default;
$success:       $color_nhsuk-green !default;
$info:          $color_nhsuk-blue !default;
$warning:       $color_nhsuk-warm-yellow !default;
$danger:        $color_nhsuk-red !default;
$light:         rgba($color_nhsuk-grey-2, 0.1) !default;
$dark:          $color_nhsuk-grey-1 !default;


$body-bg: $color_nhsuk-grey-5 !default;

$headings-font-weight: 600 !default; // use 'Semi Bold' for headings

$card-border-width:                 0 !default;
$card-border-radius:                0 !default;
$card-cap-bg:                       $color_nhsuk-grey-5 !default;

$nav-tabs-border-width:             0 !default;
$nav-tabs-border-radius:            0 !default;
$nav-tabs-link-active-color:        $color_nhsuk-grey-1 !default;
$nav-tabs-link-active-bg:           white !default;

$nav-link-padding-x:  1.25em;  // padding left and right within the tabs

$table-bg:                    white !default;
$table-accent-bg:             white !default; // this disables .table-striped in case it is used



// Buttons + Forms

$input-btn-padding-y:         .5rem !default;
$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-y-lg:      .5rem !default;

$input-btn-focus-width:       .2rem !default;
$input-btn-border-width:      1px !default;
$input-box-shadow:            none !default;

$input-color:                 $color_nhsuk-black !default;
$input-border-color:          $color_nhsuk-grey-2 !default;

$input-btn-focus-color:                 $nhsuk-focus-color !default;
$input-focus-border-color:              $nhsuk-focus-color !default;

$custom-control-indicator-bg:           white !default;
$custom-control-indicator-box-shadow:   none !default;
$custom-control-indicator-size:         1.25rem !default;
$custom-control-gutter:                 1.6rem !default;
$custom-control-spacer-x:               1rem !default;


// Buttons

$btn-padding-x:               1.25rem !default;
$btn-padding-x-sm:            .75rem !default;
$btn-padding-x-lg:            1.25rem !default;

$btn-border-width:            0 !default;

$btn-font-weight:             600 !default;
$btn-box-shadow:              0 3px 0 $color_nhsuk-black;
$btn-active-box-shadow:       $btn-box-shadow;


// Alerts

$alert-border-radius:               0 !default;
$alert-border-width:                4px !default;

$alert-bg-level:                    -12.5 !default;
$alert-border-level:                1 !default;
$alert-color-level:                 1 !default;



$enable-shadows:     true; // enable shadows for bootstrap components
$enable-transitions: false; 



@import "../_bootstrap-4.1.3/scss/bootstrap.scss";


/* change main navigation bar background colur to NHS blue */
.navbar-dark {  
  background-color: $color_nhsuk-blue !important;
}

.navbar-brand {
  background: url('../images/nhs-logo.png') no-repeat 0px 7px;
  background-size: 60px 25px;
  padding-left: 80px;
  font-weight: 600;
}

/* align left-most tab with left edge of the card */
.card-header-tabs {
  margin-left: -$card-spacer-x;
}


/* remove effect of .table-bordered, in case it's used */
.table-bordered {
  th, td {
    border: none;
    border-top: $table-border-width solid $table-border-color;
    border-bottom: $table-border-width solid $table-border-color;
  }

  thead {
    th, td {
      border-bottom-width: (2 * $table-border-width);
    }
  }
}


/* add white border around table to stand out better on grey background ... */
.table {
  border: 1em solid white;
}

/* ... except when the table is within a card (already white background) */
.card .table {
  border: 0;  
}

.card .card-header {
  padding-top: $card-spacer-y*1.25;
}

.card.bg-light {
  .card-header {
    background: none;
//      border-bottom: 2px solid $color_nhsuk-grey-5;

    &:after {
      display: block;
      content: "";
      padding-top: $card-spacer-y/2;
      margin-bottom: -$card-spacer-y;
      border-bottom: 1px solid rgba(white, 0.8);
    }
  }
}

/* buttons and forms */
.btn {
  &:focus {
    box-shadow: 0 0 0 $input-btn-focus-width $nhsuk-focus-color;
  }
  
  margin-bottom: 3px;
}

.form-control {
  &:focus {
    border: $input-btn-border-width solid $input-border-color;
    box-shadow: 0 0 0 $input-btn-focus-width $nhsuk-focus-color;
  }  
}

.custom-control-label::before {
  border: $input-btn-border-width solid $input-border-color;
}

// remove spinner / stepper on number inputs
input[type=number], input[type=date] {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

// align text to the right in horizontal form layouts
@media (min-width: map-get($grid-breakpoints, md)) {
  .form-group.form-row > .col-form-label {
    text-align: right;
  }
}

.input-group .btn {
  box-shadow: none;
  
  &:active {
    box-shadow: none !important;
  }
}









@import "gstt-legacy";



.starter-template {
    padding: 6rem 0;
}




#patient-details-section {
    position: fixed;
    height:100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-shadow: 0 0 30px 0 $color_nhsuk-grey-1;
    
    &.extended {
      height:70%;

      .octicon-triangle-up {
        transform: rotate(180deg);
      }
    }

    transition: height 0.5s;
}

.patient-details-header {
  background: $color_nhsuk-blue;
  text-align: center;
  color: white;
  cursor: pointer;
}

.patient-details-body {
  overflow: scroll;
  background: $color_nhsuk-grey-5;
}

#patient-details-iframe {
    height: 1500px;
    width: 100%;
    margin-top: -170px;
    border: none;
    
    body {
      background-color: red !important; 
    }
}


#prom-chart svg {
  background: rgba($color_nhsuk-grey-5, 0.5);
}




.container-fluid {
   max-width:1170px;
}

#patient-details-section-v3 {
  .patient-details-body {
      margin-top: 42px;
  }
}