@import "nhs_colours";
@import "../bootstrap-4.1.3/scss/bootstrap.scss";
@import "prom-igor";


.prom-scale {
  ul {
    padding-left: 1rem;
    width: 4rem;

    li {
      @include clearfix;
    }
  }

  button {
    width: 2rem;
    float: right;
    height: 2rem;
    transition: width .5s, background .5s, color .5s;
    
    &.active {
      background: $color_nhsuk-blue !important;
      color: white;
      font-weight: bold;
    }
    
    &.popout {
      width: 4.5rem;
      text-align: left;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 0;
      background: $color_nhsuk-blue !important;
      color: white;
      transition: all 0s;
    }
  }
}