<header class="clearfix mb-2">        
<div class="float-left">
  <h1 class="pb-2 mb-0 d-inline-block">
    Boris Divjak
  </h1>

  <div class="text-muted mb-1">
    <div class="d-inline-block mr-2">
      <span class="text-secondary">D.O.B.:</span> 23/05/1978
    </div>
    <div class="d-inline-block mr-2">
      <span class="text-secondary">NHS no.:</span> 943 476 5919
    </div>
    <div class="d-inline-block mr-2">
      <span class="text-secondary">Hospital no.:</span> 5779021Q
    </div>
    <div class="d-inline-block mr-2">
      <small><a href="gstt-new-patient.html">Edit patient details</a></small>
    </div>
  </div>
</div>
</header>