<!DOCTYPE html>
<!-- saved from url=(0063)https://gstt-remote-monitoring.herokuapp.com/patients/916249939 -->
<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    


<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>GSTT Remote Monitoring</title><meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="0LWUw3DvoLIY14h7XOHYEdBvD3e9jvjA9U6BCSYTGtsZ4a879wfws3jbUSdE1E7CW5joBD2uitF1vnRyXFpANQ==">

<link rel="stylesheet" media="all" href="./assets/css/main.css" data-turbolinks-track="reload">

</head>





  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

      <a class="navbar-brand" href="#">
        GSTT Remote Monitoring
      </a>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    
    
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="gstt-patients.html">
                Patients
              </a></li>
    
          </ul>
    
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" rel="nofollow" data-method="delete" href="#"><svg class="octicon octicon-sign-out" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 9V7H8V5h4V3l4 3-4 3zm-2 3H6V3L2 1h8v3h1V1c0-.55-.45-1-1-1H1C.45 0 0 .45 0 1v11.38c0 .39.22.73.55.91L6 16.01V13h4c.55 0 1-.45 1-1V8h-1v4z"></path></svg></a>
            </li>
          </ul>
    
      </div>
    </nav>


    <main role="main" class="container-fluid">
      <div class="starter-template">

        

        

        
<%- partial("_patient-header") %>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">

        <li class="nav-item">
          <a class="nav-link " href="gstt-patient-conditions.html">Conditions</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="gstt-patient-medicines.html">Medicines</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="gstt-patient-consultations.html">Consultations</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="gstt-patient-proms.html">PROMs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="#">Messages</a>
        </li>


    </ul>
  </div>

  <div class="card-body">
    <h2 class="h5 card-title float-left pb-3">Medicines</h2>
    <div class="float-right clearfix">
      <a class="btn btn-primary btn-sm" href="gstt-patient-medicines-new-medication.html">
        New medication
      </a>  
    </div>

    <div class="card-text">

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Medicine</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Route</th>
            <th scope="col">Frequency</th>
            <th scope="col">Dosage</th>
            <th scope="col">Prescriber</th>
            <th scope="col"></th>
          </tr>
        </thead>
      
        <tbody>
            <tr>
              <td>Methotrexate</td>
              <td>02/11/2017</td>
              <td></td>
              <td>Oral</td>
              <td>OD</td>
              <td>120mg</td>
              <td>Hospital</td>
              <td style="text-align: right"><a href="gstt-patient-medicines-change.html">Change </a></td>
            </tr>
            <tr>
              <td>Hydroxycholorquine </td>
              <td>01/12/16</td>
              <td></td>
              <td>IM</td>
              <td>1 / month</td>
              <td>100mg</td>
              <td>GP</td>
              <td style="text-align: right"><a href="gstt-patient-medicines-change.html">Change </a></td>
            </tr>
            <tr class=" text-secondary">
              <td>Hydroxycholorquine</td>
              <td>08/08/16</td>
              <td>01/12/16</td>
              <td>IM</td>
              <td>1 / month</td>
              <td>120mg</td>
              <td>GP</td>
              <td style="text-align: right"><a href="gstt-patient-medicines-change.html">Change </a></td>
            </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>




      </div>
    </main>
  

</body></html>