<!DOCTYPE html>
<!-- saved from url=(0055)https://preview.gsttrm.net/prom_wizards/lnCcn5/edit?q=0 -->
<html lang="en" class="prom-html">
  
<head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="3qSBsAGlnohVtDpjaNGy3SLEvYb62j32naaywbtISO1jb9nx87mEWUpznUEf4Vsk7Iu8k+DxQ4bLRDpf3jWEOA==">
  
  <title>Please complete the PROM form</title>
  
  
  <link rel="stylesheet" media="all" href="../assets/css/prom.css" data-turbolinks-track="reload">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../assets/js/prom.js"></script>
  
</head>


<body>

<main role="main" class="container-fluid">
      
  
  <form class="" action="" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="oJQXqk0thciFlmXKBYgWp4nfzd1M3H0lfBtkFS28FTVdAV77YF+UOTv/x/ilbk46llwUT8CtzhTn7vETC/KGLg==">
    <input type="hidden" value="0" name="prom_wizard[i_cur_question]" id="prom_wizard_i_cur_question">
  
    <div class="row">
      <div class="prom-question col">
        <p class="question-counter">Question 1 of 7</p>
        <h4>Pain</h4>
        <p>Select the number that best describes the pain you felt due to your rheumatoid arthritis during the last week</p>

      </div>


      <div class="prom-scale col-4 col-sm-3 col-md-2">
  
        <ul>
            <li>
              <button name="prom_wizard[prom_attributes][q_pain]" type="submit" value="0" class="btn btn-sm btn-block ">0</button>
            </li>
            <li>
              <button name="prom_wizard[prom_attributes][q_pain]" type="submit" value="1" class="btn btn-sm btn-block ">1</button>
            </li>
            <li>
              <button name="prom_wizard[prom_attributes][q_pain]" type="submit" value="2" class="btn btn-sm btn-block ">2</button>
            </li>
            <li>
              <button name="prom_wizard[prom_attributes][q_pain]" type="submit" value="3" class="btn btn-sm btn-block ">3</button>
            </li>
            <li>
              <button name="prom_wizard[prom_attributes][q_pain]" type="submit" value="4" class="btn btn-sm btn-block active">4</button>
            </li>
            <li>
              <button name="prom_wizard[prom_attributes][q_pain]" type="submit" value="5" class="btn btn-sm btn-block ">5</button>
            </li>
            <li>
              <button name="prom_wizard[prom_attributes][q_pain]" type="submit" value="6" class="btn btn-sm btn-block ">6</button>
            </li>
            <li>
              <button name="prom_wizard[prom_attributes][q_pain]" type="submit" value="7" class="btn btn-sm btn-block ">7</button>
            </li>
            <li>
              <button name="prom_wizard[prom_attributes][q_pain]" type="submit" value="8" class="btn btn-sm btn-block ">8</button>
            </li>
            <li>
              <button name="prom_wizard[prom_attributes][q_pain]" type="submit" value="9" class="btn btn-sm btn-block ">9</button>
            </li>
            <li>
              <button name="prom_wizard[prom_attributes][q_pain]" type="submit" value="10" class="btn btn-sm btn-block ">10</button>
            </li>
        </ul>
  
        <p class="prom-scale-hint-good">
          no pain
        </p>
  
        <p class="prom-scale-hint-bad">
          extreme pain
        </p>
      </div>
    </div>
    
  </form>
    
</main>

<footer role="footer" class="d-flex bg-transparent fixed-bottom prom-question">
  <div class="flex-fill align-self-center">
    <a class="btn btn-link" href="gstt-prom-welcome.html">
      <svg class="octicon octicon-chevron-left" viewBox="0 0 8 16" version="1.1" width="8" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M5.5 3L7 4.5 3.25 8 7 11.5 5.5 13l-5-5 5-5z"></path></svg> Back
    </a>    
  </div>
</footer>
  

</body>
</html>