<!DOCTYPE html>
<!-- saved from url=(0055)https://preview.gsttrm.net/prom_wizards/lnCcn5/edit?q=0 -->
<html lang="en" class="prom-html">
  
<head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="3qSBsAGlnohVtDpjaNGy3SLEvYb62j32naaywbtISO1jb9nx87mEWUpznUEf4Vsk7Iu8k+DxQ4bLRDpf3jWEOA==">
  
  <title>Please complete the PROM form</title>
  
  
  <link rel="stylesheet" media="all" href="../assets/css/prom.css" data-turbolinks-track="reload">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../assets/js/prom.js"></script>
  
</head>


<body>
  <header role="header" class="p-2 bg-nhs-blue text-light fixed-top">
    GSTT Rheumatology Remote Monitoring
  </header>

  <main role="main" class="container">
    <div class="text-center mt-5">
      <h1 class="h2 my-4">Thanks very much.</h1>
      <p>
        We'll review your answers and let you know if we need to make a change to
        your treatment plan.
      </p>
      <p>
        All your answers help us build a more complete picture of your condition.
      </p>
      <hr class="my-4" />
      <p class="text-muted">
        <a href="gstt-prom-chart.html">Click here to check your progress.</a>
      </p>
    </div>
  </main>
  <footer role="footer" class="d-flex p-2 bg-transparent fixed-bottom">
    <div class="text-right w-100">
      <img class="gstt-nhs-logo" src="../assets/images/nhs-gstt-logo.svg">
    </div>
  </footer>
</body>
</html>